body {
    position: relative;
}

canvas {
    position: relative;
    background: #444;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border-radius: 15px;
    border: 4px solid black;
    display: inline-block;
}

h2 {
    text-align: center;
}

.control {
    position: absolute;
    display: inline-block;
    margin-left: 25px;   
}